copyq
stripe
raycast
.tokens
dconf
debug.log
Slack
spotify
mimeapps.list
.wrangler
yay
htop
google-chrome
go
github-copilot
gcloud
'MongoDB Compass'
MongoDB Compass
kde.org
gtk-*
nextjs-nodejs
nwg-look
pulse
qt5ct
qt6ct
xsettingsd
dolphinrc
StardewValley
